h1 {
	background-color: purple;
	color: white;
	opacity: 50%;
	min-width: 600px;
	max-width: 600px;
	min-height: 300px;
	max-height: 300px;
	align-content: center;
	outline: 2px solid blue;
	outline-style: double;
}
